body {
    background-color: orange;
}

#contact {
    background-color: rgb(49, 255, 214);
}

/* * {
    color: rgb(143, 18, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
} */

p {
    color: blue;
}

.my-ps {
    background-color: rgb(11, 145, 53);
}


li {
    color: palevioletred
}
.box {
    color: white;
    font-weight: 600;
    background-color: rgb(243, 67, 164);
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    padding: 10px;
    /* border-style: solid;
    border-color: black ;
    border-width: 3px; */
    border: solid 3px black;
    border-radius: 10px;
    text-transform: capitalize;

    /* margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px; */
    /* margin: 10px, 20px, 10px, 20px */
    margin: 10px, 20px;
}
footer {
    background-color: rgb(17, 175, 54);
}

footer>h3 {
    background-color: rebeccapurple;
}

footer>ul>li {
    color: rgb(59, 255, 248);
}